.formulario{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px 50px;
   

    
}

.formulario form{
   
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    flex: 1;
    background-color: #F2F2F2;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}

.formulario h2{
    padding: 5px;
}